In [1]:
import pandas as pd

In [10]:
babies = pd.read_excel("/Users/nehag/Documents/GitHub/DS-Student-Resources/DS104-Data-Wrangling-and-Visualization/LearnDWEg/babies.xlsx")

In [11]:
babies.head()

,Name,First,Birthday,StreetAddress,City,Zipcode,Weight,Height,HospitalID,ParentPhoneNumber,ParentEmail
0,Potter,Alec J.,2017-11-06,229-8390 Dignissim. Road,Ucluelet,36170,1,9,1672053023999,1-180-978-6309,ut@nisiAenean.ca
1,Mcclure,Lucius S.,2018-08-14,"P.O. Box 593, 7892 Nunc St.",Licantén,47279,5,19,1609023064699,1-667-136-7396,Donec.luctus@Maecenas.edu
2,Farley,Hilel Y.,2017-12-07,3859 Tellus Rd.,Alva,78490,6,5,1664012354399,1-914-735-7605,Aenean@imperdietnonvestibulum.ca
3,Cummings,Randall W.,2018-03-07,Ap #293-6684 Lobortis Street,Vicuña,36395,9,9,1669072896099,1-568-861-3669,velit.eu.sem@Aliquam.com
4,Lester,Bruce I.,2018-01-14,495-3192 Dictum St.,Bonnert,25130,10,15,1603101020999,1-494-905-3888,dolor.Donec@miAliquamgravida.com

In [14]:
babies['Footprint'] = 'Y'

In [40]:
babies.head()

,Name,First,Birthday,StreetAddress,City,Zipcode,Weight,Height,HospitalID,Phone,ParentEmail,Footprint,Address
0,Potter,Alec J.,2017-11-06,229-8390 Dignissim. Road,Ucluelet,36170,1,9,1672053023999,1-180-978-6309,ut@nisiAenean.ca,Y,229-8390 Dignissim. Road/Ucluelet/ 36170
1,Mcclure,Lucius S.,2018-08-14,"P.O. Box 593, 7892 Nunc St.",Licantén,47279,5,19,1609023064699,1-667-136-7396,Donec.luctus@Maecenas.edu,Y,"P.O. Box 593, 7892 Nunc St./Licantén/ 47279"
2,Farley,Hilel Y.,2017-12-07,3859 Tellus Rd.,Alva,78490,6,5,1664012354399,1-914-735-7605,Aenean@imperdietnonvestibulum.ca,Y,3859 Tellus Rd./Alva/ 78490
3,Cummings,Randall W.,2018-03-07,Ap #293-6684 Lobortis Street,Vicuña,36395,9,9,1669072896099,1-568-861-3669,velit.eu.sem@Aliquam.com,Y,Ap #293-6684 Lobortis Street/Vicuña/ 36395
4,Lester,Bruce I.,2018-01-14,495-3192 Dictum St.,Bonnert,25130,10,15,1603101020999,1-494-905-3888,dolor.Donec@miAliquamgravida.com,Y,495-3192 Dictum St./Bonnert/ 25130

In [17]:
babies.rename(columns = {"ParentPhoneNumber" : "Phone"}, inplace = True)

In [20]:
# To combine data of two or more columns together

# Adds a new column Address in the same dataset
# map(str) coverts it into string if not already
babies["Address"] = babies["StreetAddress"] + "/" + babies["City"] + "/ " + babies["Zipcode"].map(str)

In [23]:
# To break columns into different columns

#The expand=True argument is very important – 
#it makes each separated section its own column in a data frame rather than just producing a list.

babies1 = babies['Address'].str.split('/', expand=True)

babies1.head()

                              0         1       2
0      229-8390 Dignissim. Road  Ucluelet   36170
1   P.O. Box 593, 7892 Nunc St.  Licantén   47279
2               3859 Tellus Rd.      Alva   78490
3  Ap #293-6684 Lobortis Street    Vicuña   36395
4           495-3192 Dictum St.   Bonnert   25130

In [25]:
#OR 
#To rename the columns of the dataset as well

babies2 = babies['Address'].str.split('/', expand = True).rename(columns = lambda x: "Address" + str(x+1))

babies2.head()

                       Address1  Address2 Address3
0      229-8390 Dignissim. Road  Ucluelet    36170
1   P.O. Box 593, 7892 Nunc St.  Licantén    47279
2               3859 Tellus Rd.      Alva    78490
3  Ap #293-6684 Lobortis Street    Vicuña    36395
4           495-3192 Dictum St.   Bonnert    25130

In [27]:
# The next step is to add those columns back into your dataset
# you will append your data side by side.
# In Python, the pandas package has a function called .concat() that will add in columns or rows.
# specify axis=1 to tell Python that you are adding columns, not rows.

babies3 = pd.concat([babies, babies2], axis = 1)

babies3.head()

,Name,First,Birthday,StreetAddress,City,Zipcode,Weight,Height,HospitalID,Phone,ParentEmail,Footprint,Address,Address1,Address2,Address3
0,Potter,Alec J.,2017-11-06,229-8390 Dignissim. Road,Ucluelet,36170,1,9,1672053023999,1-180-978-6309,ut@nisiAenean.ca,Y,229-8390 Dignissim. Road/Ucluelet/ 36170,229-8390 Dignissim. Road,Ucluelet,36170
1,Mcclure,Lucius S.,2018-08-14,"P.O. Box 593, 7892 Nunc St.",Licantén,47279,5,19,1609023064699,1-667-136-7396,Donec.luctus@Maecenas.edu,Y,"P.O. Box 593, 7892 Nunc St./Licantén/ 47279","P.O. Box 593, 7892 Nunc St.",Licantén,47279
2,Farley,Hilel Y.,2017-12-07,3859 Tellus Rd.,Alva,78490,6,5,1664012354399,1-914-735-7605,Aenean@imperdietnonvestibulum.ca,Y,3859 Tellus Rd./Alva/ 78490,3859 Tellus Rd.,Alva,78490
3,Cummings,Randall W.,2018-03-07,Ap #293-6684 Lobortis Street,Vicuña,36395,9,9,1669072896099,1-568-861-3669,velit.eu.sem@Aliquam.com,Y,Ap #293-6684 Lobortis Street/Vicuña/ 36395,Ap #293-6684 Lobortis Street,Vicuña,36395
4,Lester,Bruce I.,2018-01-14,495-3192 Dictum St.,Bonnert,25130,10,15,1603101020999,1-494-905-3888,dolor.Donec@miAliquamgravida.com,Y,495-3192 Dictum St./Bonnert/ 25130,495-3192 Dictum St.,Bonnert,25130

In [42]:
# Subsetting Rows
babies4 = babies[:10] # it will only take first 3 rows with index being 2 (0,1,2)
babies4.head() 

babies3.head()

# Subsetting Columns

babies5 = babies4[['Name', 'Birthday']]
babies5.head()

       Name   Birthday
0    Potter 2017-11-06
1   Mcclure 2018-08-14
2    Farley 2017-12-07
3  Cummings 2018-03-07
4    Lester 2018-01-14

In [43]:
babies.head()

,Name,First,Birthday,StreetAddress,City,Zipcode,Weight,Height,HospitalID,Phone,ParentEmail,Footprint,Address
0,Potter,Alec J.,2017-11-06,229-8390 Dignissim. Road,Ucluelet,36170,1,9,1672053023999,1-180-978-6309,ut@nisiAenean.ca,Y,229-8390 Dignissim. Road/Ucluelet/ 36170
1,Mcclure,Lucius S.,2018-08-14,"P.O. Box 593, 7892 Nunc St.",Licantén,47279,5,19,1609023064699,1-667-136-7396,Donec.luctus@Maecenas.edu,Y,"P.O. Box 593, 7892 Nunc St./Licantén/ 47279"
2,Farley,Hilel Y.,2017-12-07,3859 Tellus Rd.,Alva,78490,6,5,1664012354399,1-914-735-7605,Aenean@imperdietnonvestibulum.ca,Y,3859 Tellus Rd./Alva/ 78490
3,Cummings,Randall W.,2018-03-07,Ap #293-6684 Lobortis Street,Vicuña,36395,9,9,1669072896099,1-568-861-3669,velit.eu.sem@Aliquam.com,Y,Ap #293-6684 Lobortis Street/Vicuña/ 36395
4,Lester,Bruce I.,2018-01-14,495-3192 Dictum St.,Bonnert,25130,10,15,1603101020999,1-494-905-3888,dolor.Donec@miAliquamgravida.com,Y,495-3192 Dictum St./Bonnert/ 25130

In [44]:
babies4 = babies[:10]

In [45]:
babies5 = babies4[['Name', 'Birthday']]

In [47]:
babies5.head(10)

       Name   Birthday
0    Potter 2017-11-06
1   Mcclure 2018-08-14
2    Farley 2017-12-07
3  Cummings 2018-03-07
4    Lester 2018-01-14
5      Wall 2018-03-21
6    Henson 2018-05-22
7    Suarez 2019-04-08
8   Allison 2018-10-22
9    Watson 2018-04-25

In [49]:
# Dropping a column

babies.drop(['ParentEmail'], axis=1)

,Name,First,Birthday,StreetAddress,City,Zipcode,Weight,Height,HospitalID,Phone,Footprint,Address
0,Potter,Alec J.,2017-11-06,229-8390 Dignissim. Road,Ucluelet,36170,1,9,1672053023999,1-180-978-6309,Y,229-8390 Dignissim. Road/Ucluelet/ 36170
1,Mcclure,Lucius S.,2018-08-14,"P.O. Box 593, 7892 Nunc St.",Licantén,47279,5,19,1609023064699,1-667-136-7396,Y,"P.O. Box 593, 7892 Nunc St./Licantén/ 47279"
2,Farley,Hilel Y.,2017-12-07,3859 Tellus Rd.,Alva,78490,6,5,1664012354399,1-914-735-7605,Y,3859 Tellus Rd./Alva/ 78490
3,Cummings,Randall W.,2018-03-07,Ap #293-6684 Lobortis Street,Vicuña,36395,9,9,1669072896099,1-568-861-3669,Y,Ap #293-6684 Lobortis Street/Vicuña/ 36395
4,Lester,Bruce I.,2018-01-14,495-3192 Dictum St.,Bonnert,25130,10,15,1603101020999,1-494-905-3888,Y,495-3192 Dictum St./Bonnert/ 25130
...,...,...,...,...,...,...,...,...,...,...,...,...
95,Walls,Judith G.,2018-03-04,Ap #870-3273 Tempor Rd.,Poulseur,56636,5,20,1672011532799,1-677-337-9550,Y,Ap #870-3273 Tempor Rd./Poulseur/ 56636
96,Cantu,Xandra X.,2018-06-08,4937 Justo Ave,Ururi,53340,2,1,1645121821499,1-814-182-3412,Y,4937 Justo Ave/Ururi/ 53340
97,Griffin,Curran I.,2018-04-15,"P.O. Box 408, 9749 Posuere, Avenue",Mundare,29651,6,4,1624011363899,1-884-337-8152,Y,"P.O. Box 408, 9749 Posuere, Avenue/Mundare/ 29651"
98,Hamilton,Mufutau R.,2019-06-01,"P.O. Box 609, 3807 Cursus, St.",Inuvik,29044,11,5,1651073012999,1-941-605-0697,Y,"P.O. Box 609, 3807 Cursus, St./Inuvik/ 29044"
99,Owen,Lucian L.,2017-12-07,"P.O. Box 868, 7319 Cursus Rd.",Branchon,87374,15,15,1683030784599,1-407-251-3092,Y,"P.O. Box 868, 7319 Cursus Rd./Branchon/ 87374"

KeyError: "['Potter'] not found in axis"