In [1]:
import pandas as pd

In [5]:
PlaneFeatures = pd.read_excel("PlaneFeatures.xlsx")

PlaneFeatures.head(10)

,adshex,duration1,duration2,duration3,duration4,duration5,boxes1,boxes2,boxes3,boxes4,...,steer3,steer4,steer5,steer6,steer7,steer8,flights,squawk_1,observations,type
0,A,0.120253,0.075949,0.183544,0.335443,0.284810,0.088608,0.044304,0.069620,0.120253,...,0.270550,0.344090,0.097317,0.186651,0.011379,0.009426,158,0,11776,GRND
1,A00000,0.211735,0.155612,0.181122,0.198980,0.252551,0.204082,0.183673,0.168367,0.173469,...,0.240732,0.356314,0.116116,0.159325,0.012828,0.013628,392,0,52465,TBM7
2,A00002,0.517241,0.103448,0.103448,0.103448,0.172414,0.862069,0.137931,0.000000,0.000000,...,0.174954,0.244015,0.034070,0.202578,0.021179,0.068140,29,0,1086,SHIP
3,A00008,0.125000,0.041667,0.208333,0.166667,0.458333,0.125000,0.083333,0.125000,0.166667,...,0.202665,0.380515,0.094669,0.182904,0.014706,0.020221,24,0,2176,PA46
4,A0001E,0.100000,0.200000,0.200000,0.400000,0.100000,0.100000,0.000000,0.100000,0.400000,...,0.249206,0.326984,0.112698,0.206349,0.012698,0.011111,10,1135,630,C56X
5,A0002B,0.166667,0.166667,0.000000,0.666667,0.000000,0.333333,0.000000,0.000000,0.666667,...,0.281646,0.416139,0.112342,0.169304,0.001582,0.001582,6,2356,632,C82S
6,A00049,0.186441,0.118644,0.288136,0.169492,0.237288,0.152542,0.067797,0.101695,0.338983,...,0.188385,0.452904,0.089589,0.153683,0.007790,0.014518,59,0,2824,PC12
7,A00063,0.214286,0.142857,0.285714,0.285714,0.071429,0.250000,0.500000,0.142857,0.107143,...,0.344415,0.191439,0.130378,0.212516,0.014993,0.008040,28,0,4602,R66
8,A00076,0.333333,0.266667,0.222222,0.155556,0.022222,0.466667,0.222222,0.088889,0.200000,...,0.129252,0.586735,0.049887,0.098639,0.009070,0.018707,45,0,1764,DA42
9,A0007A,0.103448,0.396552,0.275862,0.103448,0.120690,0.086207,0.396552,0.362069,0.000000,...,0.224757,0.496994,0.139664,0.106367,0.003931,0.003006,58,1200,12974,BE36

In [6]:
PlaneCandidates = pd.read_excel("PlaneCandidates.xlsx")

PlaneCandidates.head()

,other,surveil,adshex,squawk_1,name,reg
0,0.0750,0.9250,A4FB3C,5310,CITY OF MESA ARIZONA,N42WB
1,0.0995,0.9005,A13098,4415,NaN,NaN
2,0.1010,0.8990,A7D925,230,ORANGE COUNTY SHERIFFS DEPARTMENT RNSP,N6045C
3,0.1085,0.8915,A63E52,5306,CHAPARRAL AIR GROUP,N501GW
4,0.1230,0.8770,A1B621,5240,MIDWEST AIRMOTIVE INC,N2092S

# Merge the above two data sets

In [8]:
# Without using the common key

NewData = pd.merge(PlaneCandidates, PlaneFeatures)

NewData.head()

,other,surveil,adshex,squawk_1,name,reg,duration1,duration2,duration3,duration4,...,steer2,steer3,steer4,steer5,steer6,steer7,steer8,flights,observations,type
0,0.0750,0.9250,A4FB3C,5310,CITY OF MESA ARIZONA,N42WB,0.416667,0.125000,0.083333,0.041667,...,0.226923,0.222378,0.268182,0.013986,0.062587,0.004196,0.017483,24,2860,P210
1,0.0995,0.9005,A13098,4415,NaN,NaN,0.166667,0.166667,0.166667,0.083333,...,0.176803,0.181047,0.300802,0.019331,0.085809,0.010372,0.028289,12,2121,unknown
2,0.1010,0.8990,A7D925,230,ORANGE COUNTY SHERIFFS DEPARTMENT RNSP,N6045C,0.121212,0.141414,0.070707,0.070707,...,0.315047,0.301537,0.096653,0.015661,0.047095,0.004015,0.009250,99,45079,T206
3,0.1085,0.8915,A63E52,5306,CHAPARRAL AIR GROUP,N501GW,0.333333,0.196078,0.137255,0.078431,...,0.219210,0.251185,0.125471,0.028571,0.075137,0.009848,0.019574,51,8225,T206
4,0.1230,0.8770,A1B621,5240,MIDWEST AIRMOTIVE INC,N2092S,0.615385,0.076923,0.153846,0.000000,...,0.173395,0.138981,0.052945,0.021840,0.049636,0.001985,0.008604,13,1511,C210

In [10]:
# With specifying the common key - adshex

NewDatakey = pd.merge(PlaneCandidates, PlaneFeatures , on="adshex")

NewDatakey.head()

,other,surveil,adshex,squawk_1_x,name,reg,duration1,duration2,duration3,duration4,...,steer3,steer4,steer5,steer6,steer7,steer8,flights,squawk_1_y,observations,type
0,0.0750,0.9250,A4FB3C,5310,CITY OF MESA ARIZONA,N42WB,0.416667,0.125000,0.083333,0.041667,...,0.222378,0.268182,0.013986,0.062587,0.004196,0.017483,24,5310,2860,P210
1,0.0995,0.9005,A13098,4415,NaN,NaN,0.166667,0.166667,0.166667,0.083333,...,0.181047,0.300802,0.019331,0.085809,0.010372,0.028289,12,4415,2121,unknown
2,0.1010,0.8990,A7D925,230,ORANGE COUNTY SHERIFFS DEPARTMENT RNSP,N6045C,0.121212,0.141414,0.070707,0.070707,...,0.301537,0.096653,0.015661,0.047095,0.004015,0.009250,99,230,45079,T206
3,0.1085,0.8915,A63E52,5306,CHAPARRAL AIR GROUP,N501GW,0.333333,0.196078,0.137255,0.078431,...,0.251185,0.125471,0.028571,0.075137,0.009848,0.019574,51,5306,8225,T206
4,0.1230,0.8770,A1B621,5240,MIDWEST AIRMOTIVE INC,N2092S,0.615385,0.076923,0.153846,0.000000,...,0.138981,0.052945,0.021840,0.049636,0.001985,0.008604,13,5240,1511,C210

In [13]:
# With outer join 

NewDataOuter = pd.merge(PlaneCandidates, PlaneFeatures, how='outer')

NewDataOuter.head()

,other,surveil,adshex,squawk_1,name,reg,duration1,duration2,duration3,duration4,...,steer2,steer3,steer4,steer5,steer6,steer7,steer8,flights,observations,type
0,0.0750,0.9250,A4FB3C,5310,CITY OF MESA ARIZONA,N42WB,0.416667,0.125000,0.083333,0.041667,...,0.226923,0.222378,0.268182,0.013986,0.062587,0.004196,0.017483,24,2860,P210
1,0.0995,0.9005,A13098,4415,NaN,NaN,0.166667,0.166667,0.166667,0.083333,...,0.176803,0.181047,0.300802,0.019331,0.085809,0.010372,0.028289,12,2121,unknown
2,0.1010,0.8990,A7D925,230,ORANGE COUNTY SHERIFFS DEPARTMENT RNSP,N6045C,0.121212,0.141414,0.070707,0.070707,...,0.315047,0.301537,0.096653,0.015661,0.047095,0.004015,0.009250,99,45079,T206
3,0.1085,0.8915,A63E52,5306,CHAPARRAL AIR GROUP,N501GW,0.333333,0.196078,0.137255,0.078431,...,0.219210,0.251185,0.125471,0.028571,0.075137,0.009848,0.019574,51,8225,T206
4,0.1230,0.8770,A1B621,5240,MIDWEST AIRMOTIVE INC,N2092S,0.615385,0.076923,0.153846,0.000000,...,0.173395,0.138981,0.052945,0.021840,0.049636,0.001985,0.008604,13,1511,C210