In [1]:
import pandas as pd

In [2]:
eating_habits = pd.read_csv("eating_habits.csv")

In [13]:
eating_habits.head(10)

eating_habits.Activity.value_counts()

Eating fruit                                             1890
Eating candy, chocolate bars                             1890
Eating french fries                                      1890
Eating hamburgers, hot dogs or sausages                  1890
Eating whole wheat or rye bread                          1890
Drinking soft drinks, cola or other drinks with sugar    1890
Drinking coffee                                          1890
Eating raw vegetables                                    1800
Eating potato chips, crisps                              1710
Drinking low fat milk                                    1440
Drinking whole milk                                      1440
Eating peanuts                                            780
Name: Activity, dtype: int64

# Recode Activity into a new variable. Zeros should be not eating chocolate, and 1s should be eating chocolate.

In [12]:
# Function to recode the activity 

def Activity_Rec(act):
    if act == "Eating candy, chocolate bars":
        return 1
    else:
        return 0

# Assign to a new variable
eating_habits["Activity1or0"] = eating_habits["Activity"].apply(Activity_Rec)

eating_habits.head(10)

,REF_DATE,GEO,DGUID,Sex,Age group,Activity,Frequency,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS,Activity1or0
0,1990,Austria,NaN,Males,11 years,Eating fruit,More than once a day,Percent,239,units,0,v656366,1.1.1.1.1,34,NaN,NaN,NaN,0,0
1,1990,Austria,NaN,Males,11 years,Eating fruit,Once a day,Percent,239,units,0,v656367,1.1.1.1.2,42,NaN,NaN,NaN,0,0
2,1990,Austria,NaN,Males,11 years,Eating fruit,At least once a week,Percent,239,units,0,v656368,1.1.1.1.3,17,NaN,NaN,NaN,0,0
3,1990,Austria,NaN,Males,11 years,Eating fruit,Seldom,Percent,239,units,0,v656369,1.1.1.1.4,4,NaN,NaN,NaN,0,0
4,1990,Austria,NaN,Males,11 years,Eating fruit,Never,Percent,239,units,0,v656370,1.1.1.1.5,3,NaN,NaN,NaN,0,0
5,1990,Austria,NaN,Males,11 years,Eating raw vegetables,More than once a day,Percent,239,units,0,v657056,1.1.1.2.1,15,NaN,NaN,NaN,0,0
6,1990,Austria,NaN,Males,11 years,Eating raw vegetables,Once a day,Percent,239,units,0,v657057,1.1.1.2.2,34,NaN,NaN,NaN,0,0
7,1990,Austria,NaN,Males,11 years,Eating raw vegetables,At least once a week,Percent,239,units,0,v657058,1.1.1.2.3,30,NaN,NaN,NaN,0,0
8,1990,Austria,NaN,Males,11 years,Eating raw vegetables,Seldom,Percent,239,units,0,v657059,1.1.1.2.4,16,NaN,NaN,NaN,0,0
9,1990,Austria,NaN,Males,11 years,Eating raw vegetables,Never,Percent,239,units,0,v657060,1.1.1.2.5,5,NaN,NaN,NaN,0,0

# Recode Frequency from text to numbers in the same variable. The value zero should be the lowest frequency.

In [14]:
eating_habits.Frequency.value_counts()

More than once a day    4080
Once a day              4080
At least once a week    4080
Seldom                  4080
Never                   4080
Name: Frequency, dtype: int64

In [15]:
cleanup_list = { "Frequency" : {"Never" : 0, "Seldom" : 1, "At least once a week" : 2, "Once a day" : 3, "More than once a day" : 4 }}

In [17]:
eating_habits.replace(cleanup_list, inplace = True)

In [21]:
eating_habits.head(10)

,REF_DATE,GEO,DGUID,Sex,Age group,Activity,Frequency,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS,Activity1or0
0,1990,Austria,NaN,0,11 years,Eating fruit,4,Percent,239,units,0,v656366,1.1.1.1.1,34,NaN,NaN,NaN,0,0
1,1990,Austria,NaN,0,11 years,Eating fruit,3,Percent,239,units,0,v656367,1.1.1.1.2,42,NaN,NaN,NaN,0,0
2,1990,Austria,NaN,0,11 years,Eating fruit,2,Percent,239,units,0,v656368,1.1.1.1.3,17,NaN,NaN,NaN,0,0
3,1990,Austria,NaN,0,11 years,Eating fruit,1,Percent,239,units,0,v656369,1.1.1.1.4,4,NaN,NaN,NaN,0,0
4,1990,Austria,NaN,0,11 years,Eating fruit,0,Percent,239,units,0,v656370,1.1.1.1.5,3,NaN,NaN,NaN,0,0
5,1990,Austria,NaN,0,11 years,Eating raw vegetables,4,Percent,239,units,0,v657056,1.1.1.2.1,15,NaN,NaN,NaN,0,0
6,1990,Austria,NaN,0,11 years,Eating raw vegetables,3,Percent,239,units,0,v657057,1.1.1.2.2,34,NaN,NaN,NaN,0,0
7,1990,Austria,NaN,0,11 years,Eating raw vegetables,2,Percent,239,units,0,v657058,1.1.1.2.3,30,NaN,NaN,NaN,0,0
8,1990,Austria,NaN,0,11 years,Eating raw vegetables,1,Percent,239,units,0,v657059,1.1.1.2.4,16,NaN,NaN,NaN,0,0
9,1990,Austria,NaN,0,11 years,Eating raw vegetables,0,Percent,239,units,0,v657060,1.1.1.2.5,5,NaN,NaN,NaN,0,0

# Recode Sex from text to numbers in the same variable.

In [20]:
cleanup_lst = {"Sex" : { "Males" : 0, "Females" : 1}}

eating_habits.replace(cleanup_lst, inplace = True)

# Dummy code the Age group variable.

In [22]:
Age_grp = pd.get_dummies(eating_habits["Age group"])

In [23]:
Age_grp.head()

   11 years  13 years  15 years
0         1         0         0
1         1         0         0
2         1         0         0
3         1         0         0
4         1         0         0

In [24]:
# To concat
eating_habits1 = pd.concat([eating_habits, Age_grp], axis=1)
eating_habits1.head()

,REF_DATE,GEO,DGUID,Sex,Age group,Activity,Frequency,UOM,UOM_ID,SCALAR_FACTOR,...,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS,Activity1or0,11 years,13 years,15 years
0,1990,Austria,NaN,0,11 years,Eating fruit,4,Percent,239,units,...,1.1.1.1.1,34,NaN,NaN,NaN,0,0,1,0,0
1,1990,Austria,NaN,0,11 years,Eating fruit,3,Percent,239,units,...,1.1.1.1.2,42,NaN,NaN,NaN,0,0,1,0,0
2,1990,Austria,NaN,0,11 years,Eating fruit,2,Percent,239,units,...,1.1.1.1.3,17,NaN,NaN,NaN,0,0,1,0,0
3,1990,Austria,NaN,0,11 years,Eating fruit,1,Percent,239,units,...,1.1.1.1.4,4,NaN,NaN,NaN,0,0,1,0,0
4,1990,Austria,NaN,0,11 years,Eating fruit,0,Percent,239,units,...,1.1.1.1.5,3,NaN,NaN,NaN,0,0,1,0,0